<div id="parallaxTest">
  <div class="mySlides">
    <div class="container">

    </div>
  

<div class="search">
  <form class="formSearch">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Location">
        <div class="invalid-feedback">
          Please enter a location.
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2" id="searchButton">Search</button>
      </div>
    </div>
  </form>
</div>
<div id="hikingDiv">

</div>

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-hiking"></i>
        <h5 class="myModalLabel" id="exampleModalCenterTitle">Trail Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>TrailInfo</h6>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btnclose btn-outline-light" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Modal content-->
<div class="card-footer text-white bg-primary footer">
  <p class="footer-text"> © 2019 Bootcamp Outfitters. All rights reserved. </p>
</div>
     
