<div id="parallaxTest">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
          <div class="container">
            <!-- <div class="titleContainer">
              <h1 class="title">Project 2</h1>
            </div> -->
            <div class="search">
              <form class="formSearch">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Location">
                    <div class="invalid-feedback">
                      Please enter a location.
                    </div>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" id="searchButton">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="d-block w-100 imagesCarousel" id="firstSlide" alt="First slide"></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100 imagesCarousel" id="secondSlide" alt="Second slide"></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100 imagesCarousel" id="thirdSlide" alt="Third slide"></div>
            </div>
            <div class="carousel-item active">
              <div class="d-block w-100 imagesCarousel" id="fourthSlide" alt="Fourth slide"></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100 imagesCarousel" id="fifthSlide" alt="Fifth slide"></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    
    
      </section>
      <div id="hikingDiv">
    
      </div>
    
      <!-- Modal content-->
      <div class="card-footer text-white bg-primary footer">
        <p class="footer-text"> © 2019 Bootcamp Outfitters. All rights reserved. </p>
      </div>    
     