<div id="carouselBackgroundImage" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselBackgroundImage" data-slide-to="0" class="active"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="1"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="2"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="3"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="4"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="5"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="6"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="7"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="8"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="9"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="10"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="11"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="12"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="13"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="14"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="15"></li>
    <li data-target="#carouselBackgroundImage" data-slide-to="16"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="/images/hero-01.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-02.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-03.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
        <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-04.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-05.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-06.jpeg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="/images/hero-07.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-08.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-09.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-10.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-11.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-12.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-13.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-14.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-15.jpeg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-16.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="/images/hero-17.jpg" class="d-block w-100">
      {{> item-block}}
    </div>
  </div>

</div>