{{!-- <div class="row">
    <div class="col-md-12">
        <h1>Login Page</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="user-login">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div> --}}

{{!-- ******************************************Emad*************************************************** --}}
<div class="row">
    <div class="col-md-12">
        <h1>Login Page</h1>
    </div>
</div>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form>
                <div class="form-group">
                  <input type="email" id="email" aria-describedby="emailHelp" class="form-control" placeholder="Enter email" name="email" required autofocus>
                  <label for="email">Email address</label>
                </div>

                <div class="form-group">
                  <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
                  <label for="password">Password</label>
                </div>
{{!-- Remember Password in case we want it later --}}
                {{!-- <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> --}}
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
{{!-- Forgot pasword in case we want it later
                <div class="text-center">
                  <a class="small" href="#">Forgot password?</a></div> --}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>